.game-container {
  background-color: #140828;
}
.paddle-overlay {
  position: absolute;
  overflow: hidden;
}
.paddle {
  position: absolute;
  background-color: #ffff;
  bottom: 40px;
}
.stars-overlay {
  position: absolute;
  overflow: hidden;
}
